<div class="mix-workspace-container">
  <div class="mix-workspace-container__header">
    <div class="mix-workspace-container__toolbar-item">
      {{ totalTheme }} Theme Available
    </div>

    <div class="mix-workspace-container__toolbar-item">
      <button [size]="'s'"
              (click)="onImportThemeClick()"
              tuiButton>
        <i-tabler name="circle-plus"></i-tabler> <span> New Theme </span>
      </button>
    </div>
  </div>

  <div class="mix-workspace-container__container">
    <div class="mix-workspace-container__main-workspace">
      <mix-data-table [fetchDataFn]="fetchDataFn">
        <div [columnType]="'CHECKBOX'"
             mixTableColumn></div>
        <div [header]="'#'"
             [width]="'70px'"
             mixTableColumn
             key="id"></div>
        <div [header]="'Name'"
             mixTableColumn
             key="displayName">
          <ng-template let-data
                       mixColumnCell>
            <div (click)="themeClick(data)"> {{ data.displayName }}</div>
          </ng-template>
        </div>
        <div [header]="'Created Date'"
             mixTableColumn
             key="createdDateTime"></div>
      </mix-data-table>
    </div>
  </div>
</div>


<ng-template #importTheme>
  <mix-sidebar-container>
    <mix-theme-import [mode]="'Quick'"></mix-theme-import>
  </mix-sidebar-container>
</ng-template>
