<div *ngIf="message"
     class="messenger-message"
     [ngClass]="{'--from-another': fromAnother}">
  <div class="messenger-message__outer">
    <div class="messenger-message__avatar">
      <tui-avatar *ngIf="fromAnother"
                  [autoColor]="true"
                  [avatarUrl]="message.from.avatar || ''"
                  [rounded]="true"
                  [size]="'s'"
                  [text]="message.from.username || 'Unknown user'"></tui-avatar>
      <div style="height: 18px;"></div>
    </div>

    <div class="messenger-message__inner"
         [ngClass]="{'--from-another': fromAnother}">
      <div class="messenger-message__bubble-container">
        <div *ngFor="let message of message.displayMessage"
             class="messenger-message__bubble">
          {{ message }}
        </div>
        <div class="messenger-message__sent-by">Send by {{ message.from.username }}</div>
      </div>
      <div class="messenger-message__actions"></div>
      <div class="messenger-message__spacer"></div>
    </div>
    <div *ngIf="!fromAnother"
         class="messenger-message__status">
      <span class="material-symbols-outlined">
        check_circle
      </span>
    </div>
  </div>
</div>
