<div class="setup-theme-page">
  <ng-container *ngIf="currentTheme; else loading">
    <h3>Hi, you have selected {{ currentTheme?.themeName }} as the starting theme.</h3>
    <span>We also provide some data go with this theme, please select what you want</span>

    <div class="setup-theme-page__main-container container">
      <tui-tabs [(activeItemIndex)]="activeItemIndex">
        <button (click)="activeItemIndex = 0"
                tuiTab>
          Pages
        </button>

        <button (click)="activeItemIndex = 1"
                tuiTab>
          Modules
        </button>

        <button (click)="activeItemIndex = 2"
                tuiTab>
          Posts
        </button>
      </tui-tabs>

      <div *ngIf="activeItemIndex === 0"
           class="row">
        <ng-container *ngFor="let page of currentPages">
          <div class="col-3">
            <tui-checkbox-labeled class="item"
                                  [(ngModel)]="page.selected">
              {{ page.item.displayName }}
              <div class="with-data">Angular UI Kit for awesome people</div>
            </tui-checkbox-labeled>
          </div>
        </ng-container>
      </div>

      <div *ngIf="activeItemIndex === 1"
           class="row">
        <ng-container *ngFor="let module of currentModules">
          <div class="col-3">
            <tui-checkbox-labeled class="item"
                                  [(ngModel)]="module.selected">
              {{ module.item.displayName }}
              <div class="with-data">Angular UI Kit for awesome people</div>
            </tui-checkbox-labeled>
          </div>
        </ng-container>
      </div>

      <div *ngIf="activeItemIndex === 2"
           class="row">
        <ng-container *ngFor="let post of currentPosts">
          <div class="col-3">
            <tui-checkbox-labeled class="item"
                                  [(ngModel)]="post.selected">
              {{ post.item.displayName }}
              <div class="with-data">Angular UI Kit for awesome people</div>
            </tui-checkbox-labeled>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="setup-theme-page__footer container">
      <div class="info">
        <p> {{ currentSelectedPages.length }} pages selected</p>
        <p> {{ currentSelectedModules.length }} modules selected</p>
        <p> {{ currentSelectedPosts.length }} posts selected</p>
      </div>
      <button [appearance]="'outline'"
              [showLoader]="!!(loading$ | async)"
              [size]="'m'"
              tuiButton> Select All </button>
      <button [disabled]="!currentSelectedPages.length &&
                          !currentSelectedModules.length &&
                          !currentSelectedPosts.length"
              [showLoader]="!!(loading$ | async)"
              [size]="'m'"
              (click)="onImport()"
              tuiButton> Select </button>
    </div>
  </ng-container>

  <ng-template #loading>
    <mix-skeleton-loading></mix-skeleton-loading>
  </ng-template>
</div>
