<div class="mix-main-explorer">
  <mix-portal-hub></mix-portal-hub>

  <tui-avatar class="avatar mt-auto"
              [autoColor]="true"
              [rounded]="true"
              new
              text="Hoang inkin"
              size="xs"></tui-avatar>

  <tui-avatar class="avatar mt-2"
              [autoColor]="true"
              [rounded]="true"
              new
              text="Phong inkin"
              size="xs"></tui-avatar>

  <tui-avatar class="avatar mt-2"
              [autoColor]="true"
              [rounded]="true"
              new
              text="Huy inkin"
              size="xs"></tui-avatar>
</div>
