<tui-loader *ngIf="loadingState() as state"
            class="data-detail-page"
            [formGroup]="promotionForm"
            [overlay]="true"
            [showLoader]="state === 'Loading'">
  <div class="data-detail-page__content-container">
    <div class="data-detail-page__toolbar">
      <div class="data-detail-page__toolbar-top">
        <div>
          <div class="text-sub text-xs">
            {{ mode === 'create' ? 'Creating' : 'Updating' }}
          </div>
          <div class="text-l">
            Promotion: <strong>{{ promotionForm.value.code ?? '--' }}</strong>
          </div>
        </div>

        <mix-button class="mr-auto"
                    type="outline"
                    (click)="goBack()"
                    size="s"><span class="material-symbols-outlined"> west </span> Back
        </mix-button>

        <mix-button class="ms-2"
                    (click)="onSave()"
                    size="s">
          <span class="icon material-symbols-outlined"> save_as </span>
          {{ mode === 'create' ? 'Create' : 'Save' }}
        </mix-button>
      </div>

      <div class="data-detail-page__toolbar-separator"></div>

      <div class="deta-detail-page__toolbar-bottom">
        <nav [(activeItemIndex)]="activeTabIndex"
             tuiTabs>
          <button tuiTab>
            <span class="material-symbols-outlined"> feed </span> General
          </button>
        </nav>
      </div>
    </div>

    <div class="data-detail-page__content">
      <div class="container">
        <div class="data-detail-page__main-content">
          <div class="data-detail-page__content-title mt-3 text-primary">
            # General Information
          </div>

          <div class="grid grid-cols-12 gap-4 mt-3">
            <div class="col-span-8">
              <div class="content-label">Name:</div>
              <mix-input placeHolder="Input promotion name"
                         formControlName="title"></mix-input>

              <div class="content-label mt-2">From date:</div>
              <mix-date-time-picker formControlName="fromDate"></mix-date-time-picker>

              <div class="content-label mt-2">To date:</div>
              <mix-date-time-picker formControlName="toDate"></mix-date-time-picker>

              <div class="content-label mt-2">Description:</div>
              <mix-text-area placeHolder="Input promotion short description"
                             formControlName="description"></mix-text-area>

              <div class="grid grid-cols-12 gap-4 mt-2">
                <div class="col-span-6">
                  <div class="content-label">Total Used:</div>
                  <mix-input-number [step]="1"
                                    placeHolder="Input total use"
                                    formControlName="totalUsed"></mix-input-number>
                </div>

                <div class="col-span-6">
                  <div class="content-label">Max ALlowed:</div>
                  <mix-input-number [step]="5"
                                    placeHolder="Input max allowed use times"
                                    formControlName="maxAllowed"></mix-input-number>
                </div>
              </div>
            </div>

            <div class="col-span-12 col-span-5">
              <div class="content-label">Code:</div>
              <mix-qr-code formControlName="code"></mix-qr-code>
            </div>
          </div>

          <div class="data-detail-page__content-title mt-5 text-primary">
            # Promotion Discount Rules
          </div>
          <div class="grid grid-cols-12 gap-4 mt-3">
            <div class="col-span-8">
              <div class="flex w-full items-center">
                <div class="content-label">Allow Discount Product:</div>
                <div class="ms-3 grow">
                  <mix-toggle formControlName="allowDiscountProduct"></mix-toggle>
                </div>
              </div>

              <div class="flex w-full items-center mt-3">
                <div class="content-label"
                     style="width: 100px">Currency:</div>
                <div class="ms-3 grow">
                  <mix-select [items]="$any(currencyOptions)"
                              formControlName="currency"></mix-select>
                </div>
              </div>

              <div class="flex w-full items-center mt-3">
                <div class="content-label"
                     style="width: 100px">Type:</div>
                <div class="group ms-3 grow"
                     [collapsed]="true"
                     tuiGroup>
                  <tui-radio-block [hideRadio]="true"
                                   contentAlign="right"
                                   formControlName="promotionType"
                                   item="Coupon"
                                   size="m">
                    Coupon
                  </tui-radio-block>
                  <tui-radio-block [hideRadio]="true"
                                   contentAlign="right"
                                   formControlName="promotionType"
                                   item="Voucher"
                                   size="m">
                    Voucher
                  </tui-radio-block>
                  <tui-radio-block [hideRadio]="true"
                                   contentAlign="right"
                                   formControlName="promotionType"
                                   item="FreeShipping"
                                   size="m">
                    Free Shipping
                  </tui-radio-block>
                </div>
              </div>

              <tui-notification class="mt-2">
                Each kind has its own set of rules and settings.
                <br>
                <ul>
                  <li>Coupon - Use discount percentage (%).</li>
                  <li>
                    Voucher - Use a discount based on the fit price (currency).
                  </li>
                  <li>Free Shipping - Reduce the delivery charge by 100%.</li>
                </ul>
              </tui-notification>

              <div *ngIf="promotionForm.value.promotionType === 'Coupon'"
                   class="w-full mt-3">
                <div class="content-label">Discount Percent (%):</div>
                <mix-input-number placeHolder="Input discount percentage"
                                  formControlName="discountPercent"></mix-input-number>
              </div>

              <div *ngIf="promotionForm.value.promotionType === 'Voucher'"
                   class="w-full mt-3">
                <div class="content-label">Discount Value (currency):</div>
                <mix-input-number placeHolder="Input discount value"
                                  formControlName="discountValue"></mix-input-number>
                <div class="text-sub ms-2">
                  {{
                    promotionForm.value.discountValue
                      | currency: promotionForm.value.currency || 'USD'
                  }}
                </div>
              </div>

              <div class="w-full mt-3">
                <div class="content-label">Min Bill (currency):</div>
                <mix-input-number placeHolder="Input min acceptable bill value"
                                  formControlName="minTotalBill"></mix-input-number>
                <div class="text-sub ms-2">
                  {{
                    promotionForm.value.minTotalBill
                      | currency: promotionForm.value.currency || 'USD'
                  }}
                </div>
              </div>

              <div class="w-full mt-3">
                <div class="content-label">Max Bill (currency):</div>
                <mix-input-number placeHolder="Input Max acceptable bill value"
                                  formControlName="maxTotalBill"></mix-input-number>
                <div class="text-sub ms-2">
                  {{
                    promotionForm.value.maxTotalBill
                      | currency: promotionForm.value.currency || 'USD'
                  }}
                </div>
              </div>

              <div *ngIf="promotionForm.value.promotionType !== 'Voucher'"
                   class="w-full mt-3">
                <div class="content-label">Max Discount Value (currency):</div>
                <mix-input-number placeHolder="Input max bill value"
                                  formControlName="maxDiscountValue"></mix-input-number>
                <div class="text-sub ms-2">
                  {{
                    promotionForm.value.maxDiscountValue
                      | currency: promotionForm.value.currency || 'USD'
                  }}
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="data-detail-page__content-title mt-5 text-primary">
            # Promotion Accessibility
          </div>

          <div class="grid grid-cols-12 gap-4 mt-3">
            <div class="col-span-12 col-md-8">
              <div class="flex w-full items-center mt-3">
                <div class="content-label"
                     style="width: 100px;">Strict Mode: </div>
                <div class="group ms-3 grow"
                     [collapsed]="true"
                     tuiGroup>
                  <tui-radio-block [hideRadio]="true"
                                   contentAlign="right"
                                   formControlName="promotionMode"
                                   item="Public"
                                   size="s">
                    Public
                  </tui-radio-block>
                  <tui-radio-block [hideRadio]="true"
                                   contentAlign="right"
                                   formControlName="promotionMode"
                                   item="Assigned"
                                   size="s">
                    Assigned User
                  </tui-radio-block>
                </div>
              </div>

              <tui-notification class="mt-2"
                                status="warning">
                Public mode will work for all orders, including checkout as guest
              </tui-notification>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</tui-loader>
