@import 'styles/utitlies.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

tui-badge {
  height: 50px !important;
  width: 100px;
}

tui-dialog {
  width: unset !important;
  border: unset !important;
}

a[tuiLink] {
  color: var(--tui-base-09);
}

:root {
  --mix-header-height: 47px;
}
