@import 'styles/utilities.scss';
@import 'styles/overwrite.scss';

html,
body {
  height: 100%;
  font-family: var(--font-family);
  // background-color: #eff4f8;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

:root {
  --mix-header-height: 47px;
  --font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}
