<div class="container mt-3">
  <div class="row">
    <div class="col-5">
      <div class="text-600">Available {{ 'Post' | transloco }}</div>
      <progress *ngIf="showLoadingPost()"
                class="progress"
                tuiProgressBar
                size="s"
                max="100"
                style="height: 3px"></progress>

      <mix-input class="mt-3"
                 [formControl]="searchPostForm"
                 placeHolder="Type to search"></mix-input>

      <div *ngIf="availablePostResult() as result"
           class="mt-3 related-post-container">
        <div *ngFor="let post of result.items"
             class="related-post-item">
          <div class="related-post-item__title">
            <a (click)="gotoPost(post.id)"
               tuiLink>{{ post.title }}</a>
          </div>

          <div class="related-post-item__action">
            <mix-button [iconBtn]="true"
                        [loading]="post && linkedPostDict[post.id]"
                        (click)="linkPost(post.id)"><span class="material-symbols-outlined">
                trending_flat
              </span></mix-button>
          </div>
        </div>

        <tui-pagination class="mt-auto"
                        [index]="result.pagingData.pageIndex"
                        [length]="result.pagingData.totalPage ?? 0"
                        (indexChange)="onPostPageChange($event)"></tui-pagination>
      </div>
    </div>

    <div class="col-1 d-flex align-items-center justify-content-center border-left-default border-right-default">
      <span class="material-symbols-outlined text-xxl"> swap_horiz </span>
    </div>

    <div class="col-6">
      <div class="text-600">Linked {{ 'Post' | transloco }}</div>
      <progress *ngIf="showLoadingRelatedPost()"
                class="progress"
                tuiProgressBar
                size="s"
                max="100"
                style="height: 3px"></progress>

      <mix-input class="mt-3"
                 [formControl]="searchRelatedPostForm"
                 placeHolder="Type to search"></mix-input>

      <div *ngIf="relatedPostResult() as result"
           class="mt-3 related-post-container">
        <div *ngFor="let post of result.items"
             class="related-post-item">
          <div class="related-post-item__title">
            <a (click)="gotoPost(post.child?.id)"
               tuiLink>{{
              post.child?.title
            }}</a>
          </div>

          <div class="related-post-item__action">
            <mix-button type="danger"
                        [iconBtn]="true"
                        [loading]="deleteLinkedPostDict[post.id]"
                        (click)="deleteRelated(post.id)"><span class="material-symbols-outlined">
                delete
              </span></mix-button>
          </div>
        </div>

        <tui-pagination class="mt-auto"
                        [index]="result.pagingData.pageIndex"
                        [length]="result.pagingData.totalPage ?? 0"
                        (indexChange)="onRelatedPostPageChange($event)"></tui-pagination>
      </div>
    </div>
  </div>
</div>
