:root {
  // main-logo
  --mix-logo-color: #ffd452;

  // header
  --header-bg-color: #fff;

  // sidebar-component
  --sidebar-bg-color: rgb(29, 28, 29);
  --sidebar-text-color: #fff;
  --sidebar-bg-active-color: #ffd452;

  // sidebar-menu-item
  --collapse-button-text-active-color: #ffd452;
}
