<div class="role-form">
  <mix-sub-toolbar [formGroup]="form"
                   [title]="'Role'"
                   description="Update">
    <mix-input class="role-form__title fw-bolder"
               [floatingLabel]="true"
               formControlName="name"
               placeHolder="Roles name"
               size="l"></mix-input>

    <mix-button class="ms-auto">Save</mix-button>
  </mix-sub-toolbar>

  <div class="role-form__body">
    <div class="role-form__permissions">
      <div class="row">
        <div class="col-2">
          <span class="content-label">Available Permissions (Use For API)</span>
        </div>

        <div class="col-10">
          <div class="role-form__main-table">
            <mix-dynamic-db-list class="d-block mt-2"
                                 [dbSysName]="'sysPermission'"
                                 [guidParentId]="role.id"
                                 [parentName]="'Role'"
                                 [showUnlink]="true"></mix-dynamic-db-list>
          </div>
        </div>

        <div class="col-12 mt-5"></div>

        <div class="col-2">
          <span class="content-label">Available Portal's Menu</span>
        </div>

        <div class="col-10">
          <div class="role-form__main-table">
            <div class="w-full d-flex justify-content-start mt-2"></div>

            <ng-container *ngIf="result() as result">
              <div class="mb-4 text-italic"
                   style="font-style: italic">
                *Hint: Click to the value to edit it in place.
                <br>
                <span class="content-sub-description">We use Google Symbol as icon, please
                  <a href="https://fonts.google.com/icons"
                     tuiLink
                     target="_blank">visit here</a>
                  to get the correct icon name</span>
              </div>

              <div>
                All Role's Back Office Portal Menu &nbsp;
                <mix-button type="outline"
                            [iconBtn]="true"
                            (click)="showDialog(addNewMenuItem)"
                            size="xs"><span class="material-symbols-outlined">
                    add
                  </span></mix-button>
              </div>
              <ng-container>
                <tui-tree *ngFor="let item of result.items; let i = index"
                          class="mb-3"
                          [childrenHandler]="handler"
                          [content]="content"
                          [tuiTreeController]="true"
                          [value]="item">
                  <ng-template #content
                               let-item>
                    <mix-portal-menu-item [item]="item"
                                          (portalMenuAdded)="newPortalMenuAdd($event, i)"
                                          (portalMenuDeleted)="
                        deletePortalMenu(
                          $event,
                          i,
                          item.portalMenuId === null ||
                            item.portalMenuId === undefined
                        )
                      "></mix-portal-menu-item>
                  </ng-template>
                </tui-tree>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addNewMenuItem
             let-observer>
  <div [formGroup]="addMenuForm">
    <div>Update Portal Menu Item:</div>

    <span class="content-label mt-3">Menu title</span>
    <mix-input formControlName="title"
               placeHolder="Menu title"></mix-input>
    <mix-form-error formControlName="title"></mix-form-error>

    <span class="content-label mt-3">Path</span>
    <mix-input [autoCompleteItems]="FULL_MENU"
               formControlName="path"
               placeHolder="Admin path url"></mix-input>

    <span class="content-label mt-3">Icon</span>
    <span class="content-sub-description">We use Google Symbol as icon, please
      <a href="https://fonts.google.com/icons"
         tuiLink
         target="_blank">visit here</a>
      to get the correct icon name</span>

    <mix-input class="mt-1"
               formControlName="icon"
               placeHolder="Icon"></mix-input>

    <div class="d-flex justify-content-end mt-3">
      <mix-button type="outline"
                  (click)="observer.complete()">Cancel</mix-button>

      <mix-button class="ms-2"
                  (click)="createMenu()">Create</mix-button>
    </div>
  </div>
</ng-template>
