<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div class="database-detail">
  <div *ngIf="databaseStore.vm$ | async as vm"
       class="database-detail__tree">
    <ng-container *ngIf="vm.data">
      <div class="tree-title">Table ({{ vm.data.length || '0' }})</div>

      <div class="tree-item mt-2 mb-2"
           [class.--active]="mode == 'create'"
           (click)="selectedTableChange('create')">
        <span class="mix-icon">add</span>
        <span> Create new </span>
      </div>

      <ng-container *ngFor="let table of vm.data">
        <div class="tree-item"
             [class.--active]="id == table.id"
             (click)="selectedTableChange(table.id)">
          <span class="mix-icon">table</span>
          <span>{{ table.displayName }}</span>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="data-detail-page__content-container flex-grow-1">
    <tui-loader *ngIf="loadingState$ | async as state"
                class="data-detail-page"
                [formGroup]="form"
                [overlay]="true"
                [showLoader]="state === 'Loading'">
      <div class="data-detail-page__toolbar">
        <div class="data-detail-page__toolbar-top">
          <mix-input class="page-title"
                     [floatingLabel]="false"
                     formControlName="displayName"
                     placeHolder="Table display name"
                     size="s"></mix-input>

          <mix-button class="ml-auto"
                      [size]="'s'"
                      (click)="submit()">
            <span class="icon material-symbols-outlined"> save_as </span>
            {{ mode === 'create' ? 'Create' : 'Save' }}
          </mix-button>
        </div>

        <div class="data-detail-page__toolbar-separator"></div>

        <div class="deta-detail-page__toolbar-bottom">
          <nav [(activeItemIndex)]="activeTabIndex"
               tuiTabs>
            <button tuiTab>
              <span class="material-symbols-outlined"> feed </span>&nbsp;
              General
            </button>
            <button tuiTab>
              <span class="material-symbols-outlined"> settings </span>&nbsp;
              Columns Design
            </button>
          </nav>
        </div>
      </div>

      <div class="data-detail-page__content">
        <!-- Main Content -->
        <div class="data-detail-page__main-content"
             [class.d-none]="activeTabIndex !== 0">
          <p class="content-label mt-3">Display Name</p>
          <mix-input placeHolder="Your table friendly name"
                     formControlName="displayName"></mix-input>

          <mix-form-error class="mt-1"
                          formControlName="displayName"></mix-form-error>

          <p class="content-label mt-3">System Name</p>
          <mix-input placeHolder="Unique system name"
                     formControlName="systemName"></mix-input>

          <mix-form-error class="mt-1"
                          formControlName="systemName"></mix-form-error>

          <p class="content-label mt-3">Short Description</p>
          <mix-text-area placeHolder="Description"
                         formControlName="description"></mix-text-area>

          <tui-notification class="mt-3"
                            status="warning">
            Default system columns:
            <span class="text-highlight">id</span>,
            <span class="text-highlight">createdAt</span>,
            <span class="text-highlight">createdBy</span>,
            <span class="text-highlight">updatedAt</span>,
            <span class="text-highlight">priority</span>

            <br>
            <br>

            Visit
            <a href="https://docs.mixcore.org/"
               target="_blank">Here</a> to get
            more information how Mixcore Database work.
          </tui-notification>
        </div>

        <!-- Content -->
        <div class="data-detail-page__main-content"
             [class.d-none]="activeTabIndex !== 1">
          <tui-notification class="mt-1"
                            status="warning">
            Default system columns:
            <span class="text-highlight">id</span>,
            <span class="text-highlight">createdAt</span>,
            <span class="text-highlight">createdBy</span>,
            <span class="text-highlight">updatedAt</span>,
            <span class="text-highlight">priority</span>
          </tui-notification>

          <div class="data-detail-page__content-title mt-3">Entities</div>

          <div class="entity-table-header mt-3">
            <div class="row">
              <div class="col-3 name">
                <div>Display name</div>
              </div>

              <div class="col-3">
                <div>System name</div>
              </div>

              <div class="col-3">
                <div>Data type</div>
              </div>
            </div>
          </div>

          <ng-container *ngFor="let entity of data?.columns ?? []; let i = index">
            <mix-entity-form class="mt-3"
                             [entity]="entity"
                             (deleteEntity)="removeEntity($event, i)"
                             (entityChange)="entityChange($event, i)"></mix-entity-form>
          </ng-container>

          <div class="entity-table-footer mt-3">
            <mix-button (click)="addNewEntity()"
                        size="s"><span class="mix-icon">add</span> Add new columns</mix-button>
          </div>
        </div>
      </div>
    </tui-loader>
  </div>
</div>
