.app-header {
  height: 45px;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0 10px;
  font-size: 25px;
}
