
@import '@taiga-ui/core/styles/taiga-ui-local.less';

.post-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__toolbar {
    height: var(--primary-toolbar-height);
    border-bottom: 1px solid var(--border-color-default);
    background-color: var(--background-color-secondary);
    padding: var(--container-padding);
  }

  &__body {
    flex-grow: 1;
  }

  .textarea {
    min-height: var(--tui-height-l);
  }
}

.ticks-labels {
  .tui-slider-ticks-labels();

  color: var(--tui-text-02);
  align-items: center;
  margin-top: 0.25rem;
}
