.mix-dbs-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__toolbar {
    padding: var(--container-padding);
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color-default);
    display: flex;
    gap: 4px;
    align-items: center;

    .search {
      width: 200px;
    }
  }

  &__main-container {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--background-color-secondary);
  }

  &__footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--primary-toolbar-height);
    padding: var(--container-padding);
    border-top: 1px solid var(--border-color-default);
  }
}
