.mix-main-layout {
  --work-space-height: calc(100% - var(--main-layout-gap));
  display: flex;
  height: 100%;

  &__progress {
    top: 0;
    width: 100%;
    position: absolute;
  }

  &__side-menu {
    height: var(--work-space-height);
  }

  &__workspace {
    height: 100%;
    flex-grow: 1;

    z-index: 1;
    overflow: auto;
  }

  &__explorer {
    height: 100%;
  }

  &__main-workspace {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    height: 100%;
    position: relative;
  }
}
