.tool-button {
  &:hover {
    background: var(--tui-secondary-hover);
  }
}

.smiles {
  max-width: 18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid var(--tui-base-03);
  padding: 5px;
  border-radius: 8px;
}

.smile {
  cursor: pointer;
  font: var(--tui-font-heading-5);
  margin-right: 2px;

  &:hover {
    background: var(--tui-secondary-hover);
  }
}
