<tui-hosted-dropdown #dropdown
                     class="t-wrapper"
                     [content]="smileDropdown"
                     tuiDropdownAlign="left">
  <button class="tool-button"
          type="button"
          aria-label="Emoji picker"
          [focusable]="dropdown.open"
          [pseudoActive]="dropdown.open"
          tuiIconButton
          size="s"
          icon="tuiIconStarFilledLarge"
          appearance="icon"
          automation-id="smiles-tool__button"></button>
  <ng-template #smileDropdown
               let-activeZone>
    <div class="smiles"
         [tuiActiveZoneParent]="activeZone">
      <button *ngFor="let smile of smiles"
              class="smile"
              [innerHTML]="smile"
              (click)="insertSmile(smile)"></button>
    </div>
  </ng-template>
</tui-hosted-dropdown>
