<div class="messenger-box">
  <div class="messenger-box__header">
    <span class="messenger-box__header-title"> Global Message </span>
  </div>

  <div #messageContainer class="messenger-box__content">
    <span class="messenger-box__date">{{ date | date }}</span>
    <ng-container *ngFor="let message of displayMessages">
      <mix-messenger-message
        [fromAnother]="message.fromAnother"
        [message]="message"
      ></mix-messenger-message>
    </ng-container>
  </div>

  <div class="messenger-box__chat-zone">
    <tui-text-area
      [expandable]="false"
      [formControl]="message"
      [maxLength]="100"
      (keydown.enter)="submitMessage($event)"
    >
      Press enter to send message
    </tui-text-area>
    <mix-emoji-picker (emojiSelect)="emojiSelect($event)"></mix-emoji-picker>
  </div>
</div>
