.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.loading-box {
  align-items: center;
  justify-content: center;
}

.main-page {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
