<div class="mix-workspace-container detail-template">
  <div class="mix-workspace-container__header">
    <div class="detail-template__title"
         [formGroup]="form">
      <mix-inline-edit-placeholder formControlName="templateTitle">
      </mix-inline-edit-placeholder>
    </div>

    <div class="action">
      <div class="label">
        Auto save on edit:
      </div>
      <tui-toggle [formControl]="autoSave"></tui-toggle>
    </div>

    <button class="action"
            [size]="'s'"
            (click)="onSave()"
            tuiButton>Save</button>
  </div>

  <div class="mix-workspace-container__container">
    <mix-template-editor *ngIf="currentTemplate"
                         [disabled]="true"
                         [templateId]="currentTemplate.id"></mix-template-editor>
  </div>
</div>
