.detail-template {
  &__title {
    margin-right: auto;
  }

  &__code-zone {
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
  }

  &__code-editor {
    width: 100%;
    padding: 10px;
    background-color: var(--tui-base-01);
  }

  &__editor-tab {
    padding: 0 10px;
    background-color: var(--tui-base-01);
  }
}
