<div class="mix-workspace-container detail-template">
  <div class="mix-workspace-container__header"
       [formGroup]="form">
    <div class="detail-template__title">
      <mix-inline-edit-placeholder formControlName="templateTitle">
      </mix-inline-edit-placeholder>
    </div>

    <div class="action">
      <div class="label">
        Auto save on edit:
      </div>
      <tui-toggle formControlName="autoSave"></tui-toggle>
    </div>

    <button class="action"
            [size]="'s'"
            (click)="onSave()"
            tuiButton>Save</button>
  </div>

  <div class="mix-workspace-container__container">
    <div class="mix-workspace-container__main-workspace">
      <div class="detail-template__code-zone">
        <div class="detail-template__editor-tab">
          <tui-tabs [(activeItemIndex)]="activeTabIndex">
            <button (click)="activeTabIndex = 0"
                    tuiTab>
              Template
            </button>
            <button (click)="activeTabIndex = 1"
                    tuiTab>
              JavaScript
            </button>
            <button (click)="activeTabIndex = 2"
                    tuiTab>
              Style Sheets CSS
            </button>
          </tui-tabs>
        </div>

        <div *ngIf="currentTemplate"
             class="detail-template__code-editor">
          <ng-container *ngIf="activeTabIndex === 0">
            <mix-code-editor [code]="templateCode"
                             [language]="'razor'"
                             (codeChange)="templateCode = $event">
            </mix-code-editor>
          </ng-container>

          <ng-container *ngIf="activeTabIndex === 1">
            <mix-code-editor [code]="javascriptCode"
                             [language]="'javascript'"
                             (codeChange)="javascriptCode = $event">
            </mix-code-editor>
          </ng-container>

          <ng-container *ngIf="activeTabIndex === 2">
            <mix-code-editor [code]="styleSheetCode"
                             [language]="'css'"
                             (codeChange)="styleSheetCode = $event">
            </mix-code-editor>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>
