<div *ngIf="store.data$()"
     class="data-table-page">
  <div class="data-table-page__main-container">
    <mix-sub-toolbar *ngIf="store.state() as state"
                     [description]="'LISTING'"
                     [title]="'All User'">
      <div class="toolbar-separator"></div>
      <mix-button (click)="showDialog(createUser)"
                  size="m"><span class="material-symbols-outlined"> add </span>&nbsp; Add
        User</mix-button>
      <div class="toolbar-separator"></div>
    </mix-sub-toolbar>

    <div *ngIf="store.state$ | async as state"
         class="data-table-page__body">
      <mix-data-table [dataset]="state.data"
                      [loading]="state.status === 'Loading'"
                      [pageInfo]="state.pageInfo"
                      [searchFieldOptions]="['userName']"
                      (pageChange)="store.changePage($event)"
                      (searchChange)="store.searchChange($event.searchText, 'userName')">
        <div [columnType]="'CHECKBOX'"
             mixTableColumn></div>

        <div [header]="'Name'"
             [minWidth]="'150px'"
             key="userName"
             mixTableColumn>
          <ng-template let-data
                       mixColumnCell>
            <div class="text-600">
              <div class="d-flex align-items-center">
                <div class="user-avatar">
                  <img [src]="data.data?.userData?.avatar || 'assets/images/avatar-placeholder.svg'">
                </div>

                <div class="ms-3">
                  <div> {{ getNameFromMail(data.userName || '')  }}</div>
                  <div class="text-s text-secondary">
                    {{ data?.data?.userData?.email }}

                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>

        <div [header]="'Phone Number'"
             key="phoneNumber"
             mixTableColumn></div>

        <div [header]="'Created'"
             key="createdDateTime"
             mixTableColumn>
          <ng-template let-data
                       mixColumnCell>
            <div>
              {{ data.createdDateTime | date: 'short' | relativeTimeSpan }}
            </div>
          </ng-template>
        </div>

        <div [columnType]="'DRAG'"
             [header]="'Action'"
             key="drag"
             mixTableColumn></div>
      </mix-data-table>
    </div>
  </div>
</div>

<ng-template #createUser
             let-observer>
  <div [formGroup]="registerForm">
    <span class="text-xl text-bold">Create User Form</span>

    <label class="content-label mt-4">User name - Email</label>
    <mix-input formControlName="username"
               placeHolder="Type email for login"></mix-input>
    <mix-form-error formControlName="username"></mix-form-error>

    <label class="content-label mt-2">Password:</label>
    <mix-input type="password"
               formControlName="password"
               placeHolder="Type password"></mix-input>
    <mix-form-error formControlName="password"></mix-form-error>

    <label class="content-label mt-2">Confirm Password:</label>
    <mix-input type="password"
               formControlName="confirmPassword"
               placeHolder="Confirm password"></mix-input>
    <mix-form-error formControlName="confirmPassword"></mix-form-error>

    <label class="content-label mt-2">First name</label>
    <mix-input formControlName="firstName"
               placeHolder="Type first name"></mix-input>
    <mix-form-error formControlName="firstName"></mix-form-error>

    <label class="content-label mt-2">Last name</label>
    <mix-input formControlName="lastName"
               placeHolder="Type last name"></mix-input>
    <mix-form-error formControlName="lastName"></mix-form-error>

    <mix-error-alert class="mt-3"
                     [error]="serverError()"></mix-error-alert>

    <div class="d-flex justify-content-end mt-3">
      <mix-button [loading]="loadingState() === 'Loading'"
                  (click)="createUserClick(observer)">Create</mix-button>
    </div>
  </div>
</ng-template>
