:host {
  display: block;
  width: 100%;
}

.load-more-btn {
  &.--loading {
    pointer-events: none;
    opacity: 0.7;

    .loading-icon {
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
