<tui-loader class="remove-padding"
            [inheritColor]="true"
            [overlay]="true"
            [showLoader]="loadingState() === 'Loading'">
  <mix-input [formControl]="searchForm"
             placeHolder="Type to search {{ type }}"></mix-input>

  <tui-filter class="mt-2"
              [badgeHandler]="badgeHandler"
              [content]="content"
              [disabledItemHandler]="disabledItemHandler"
              [formControl]="form"
              [items]="filterOptions()"></tui-filter>

  <ng-template #content
               let-item>
    {{ filterDisplayName[item] }}
  </ng-template>

  <ng-container *ngIf="pageInfo() as pageInf">
    <a *ngIf="pageInf.totalPage && pageInf.totalPage - 1 > pageInf.pageIndex"
       class="load-more-btn"
       (click)="changePageSize()"
       tuiLink>Load more
    </a>
  </ng-container>
</tui-loader>
