mix-entity-form {
  display: block;
  width: 100%;
}

.entity-form {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color-default);
  border-radius: var(--border-radius-default);
  position: relative;

  &.--new {
    border: 1px solid var(--success-color);
  }

  &__action {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translate(0, -50%);

    mix-button {
      margin-left: 8px;
    }
  }

  &:hover {
    background-color: var(--highlight-background-color);
  }
}

.data-type-select {
  .t-content {
    justify-content: space-between;
  }
}

.data-type-picker-dialog-container {
  width: 100%;
  max-height: 80vh;
  overflow: auto;
  overflow-x: hidden;

  .data-type-card {
    width: 100%;

    .inner {
      margin: 1rem 0;
      white-space: normal;
    }
  }
}
