.cms-portal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: var(--mix-body-background);

  &__workspace {
    width: 100%;
    margin-left: var(--mix-space-1);
    margin-top: var(--mix-space-1);
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    border-top-left-radius: var(--mix-border-radius-02);

    &.--menu-expand {
      z-index: 2;
    }
  }

  &__main-workspace {
    width: 100%;
    height: calc(100vh - var(--mix-header-height));
    box-sizing: border-box;
    position: relative;
  }

  &__chat-bubble {
    position: absolute;
    bottom: 0px;
    right: var(--mix-space-1);
    z-index: 3;
  }
}
