.cms-portal-container {
  width: 100vw;
  height: 100vh;
  display: flex;

  &__workspace {
    width: 100%;
  }

  &__main-workspace {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}
