.cms-portal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: var(--mix-body-background);

  &__workspace {
    width: 100%;
    // border-left: 1px solid var(--tui-base-03);
    margin-left: 10px;
    margin-top: 5px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;

    &.--menu-expand {
      border-top-left-radius: var(--mix-border-radius-02);
      margin-left: 20px;
      // box-shadow: var(--sidebar-box-shadow);
      z-index: 2;
    }
  }

  &__main-workspace {
    width: 100%;
    height: calc(100vh - var(--mix-header-height));
    box-sizing: border-box;
    position: relative;
  }

  &__chat-bubble {
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
}
