<div class="template-editor">
  <div class="template-editor__header">
    <tui-tabs class="tabs"
              [(activeItemIndex)]="activeTabIndex">
      <button class="tabs__btn"
              (click)="activeTabIndex = 0"
              tuiTab>
        Template
      </button>
      <button class="tabs__btn"
              (click)="activeTabIndex = 1"
              tuiTab>
        JavaScript
      </button>
      <button class="tabs__btn"
              (click)="activeTabIndex = 2"
              tuiTab>
        Style Sheets CSS
      </button>
    </tui-tabs>

    <div class="toolbar">
      <div class="toolbar__save-btn">
        <mix-button [disabled]="!!!(isValueChanges$ | async)"
                    [size]="'s'"
                    (click)="onDiscardChange()"> Discard change </mix-button>
      </div>

      <div class="toolbar__save-btn">
        <mix-button [disabled]="!!!(isValueChanges$ | async)"
                    [size]="'s'"
                    (click)="onSave()"> Save </mix-button>
      </div>

      <div class="toolbar__btn">
        <!-- <i-tabler class="icon"
                  name="square"></i-tabler> -->
      </div>
    </div>
  </div>


  <div class="template-editor__body">
    <div class="code-zone">
      <ng-container [formGroup]="form">
        <ng-container *ngIf="activeTabIndex === 0">
          <mix-code-editor class="mix-code-editor"
                           [language]="'razor'"
                           (codeSave)="onSave()"
                           formControlName="templateCode">
          </mix-code-editor>
        </ng-container>

        <ng-container *ngIf="activeTabIndex === 1">
          <mix-code-editor class="mix-code-editor"
                           [disabled]="disabled"
                           [language]="'javascript'"
                           (codeSave)="onSave()"
                           formControlName="javascriptCode">
          </mix-code-editor>
        </ng-container>

        <ng-container *ngIf="activeTabIndex === 2">
          <mix-code-editor class="mix-code-editor"
                           [disabled]="disabled"
                           [language]="'css'"
                           (codeSave)="onSave()"
                           formControlName="styleSheetCode">
          </mix-code-editor>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="template-editor__footer">
    1 user editing
  </div>
</div>
