.template-editor {
  border-radius: var(--border-radius-default);
  border: 1px solid var(--border-color-default);

  &__header {
    padding: 0px 12px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--tui-base-03);
    margin-bottom: 12px;

    .toolbar {
      margin-left: auto;
      display: flex;

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        cursor: pointer;
        color: var(--tui-base-05);

        &:hover {
          background-color: var(--tui-base-03);
        }
      }

      &__save-btn {
        margin: 0 3px;
      }
    }
  }

  &__footer {
    padding: 0 10px;
    height: 36px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--tui-base-03);
    font-size: 10px;
  }

  &__body {
    display: flex;
    height: 300px;

    .code-zone {
      width: calc(100% - 30px);
    }
  }
}

:host {
  display: block;
}
