<div class="login-page"
     [formGroup]="signInForm">
  <span class="mask bg-gradient-info opacity-8"></span>
  <div class="login-form-logo"></div>
  <div class="login-form mix-form blur">
    <div class="mix-form__header">Sign-in</div>

    <div class="mix-form__row">
      <label [label]="'User Name:'"
             tuiLabel>
        <tui-input [tuiTextfieldLabelOutside]="true"
                   tuiTextfieldSize="m"
                   formControlName="userName">
          <input type="text"
                 tuiTextfield>
        </tui-input>
        <tui-field-error formControlName="userName"></tui-field-error>
      </label>
    </div>

    <div class="mix-form__row">
      <label [label]="'Password:'"
             tuiLabel>
        <tui-input [tuiTextfieldLabelOutside]="true"
                   tuiTextfieldSize="m"
                   formControlName="password">
          <input type="password"
                 tuiTextfield
                 (keyup.enter)="submitForm()">
        </tui-input>
        <tui-field-error formControlName="password"></tui-field-error>
      </label>
    </div>

    <div class="mix-form__row">
      <tui-checkbox-labeled formControlName="rememberPassword">
        Remember password
      </tui-checkbox-labeled>
    </div>

    <div *ngIf="showError"
         class="mix-form__row">
      <tui-error [error]="loginError"></tui-error>
    </div>

    <div class="mix-form__row login-form__submit">
      <button [disabled]="loading"
              [showLoader]="loading"
              (click)="submitForm()"
              tuiButton>Let's go</button>

      <div class="mix-form__toolbar-right">
        <button [pseudo]="true"
                tuiLink>Forgot password</button>
      </div>
    </div>
  </div>
</div>
