mix-data-table {
  width: 100%;
}

.list-post {
  &__header {
    background-color: var(--mix-primary);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;

    .separator {
      content: '';
      display: block;
      height: 60%;
      width: 1px;
      background-color: var(--tui-base-04);
      margin: 0 15px 0 25px;
    }
  }
}
