mix-data-table {
  width: 100%;
}

.list-post {
  &__header {
    background-color: hsla(
      var(--primary-hover-color-hue, 211),
      var(--primary-hover-color-saturation, 100%),
      var(--primary-hover-color-brightness, 70%),
      0.2
    );
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;

    .separator {
      content: '';
      display: block;
      height: 60%;
      width: 1px;
      background-color: var(--tui-base-04);
      margin: 0 15px 0 25px;
    }
  }
}
