.ag-theme-alpine {
  --ag-borders: none;
  --ag-border-color: var(--tui-base-04);
  --ag-borders-critical: 1px solid;
  --ag-row-border-style: solid;
  --ag-row-border-width: 1px;
  --ag-row-border-color: var(--border-color-default);
  --ag-odd-row-background-color: var(--background-color-primary);
  --ag-background-color: var(--background-color-primary);
  --ag-cell-horizontal-border: 1px solid var(--border-color-default);
  --ag-header-height: 32px;
  --ag-row-height: 2.5rem;
  --ag-row-hover-color: rgba(233, 234, 237, 0.5);
  --ag-font-size: inherit !important;
}
