.notification {
  padding: 1rem;
  border-radius: 0.5rem;
  border-radius: var(--tui-radius-m);

  &::before {
    display: inline-block;
    font-weight: 700;
    margin-right: 4px;
  }

  &.--warning {
    color: rgb(114 59 19);
    background-color: rgb(253 253 234);
    border: 1px solid rgb(250 202 21);

    &::before {
      content: 'Warning';
    }
  }

  &.--info {
    color: rgb(30 66 159);
    background-color: rgb(235 245 255);
    border: 1px solid rgb(164 202 254);

    &::before {
      content: 'Info';
    }
  }

  &.--error {
    color: rgb(155 28 28);
    border: 1px solid rgb(248 180 180);
    background-color: rgb(253 242 242);

    &::before {
      content: 'Error';
    }
  }
}
