:host {
  width: 100%;
  display: block;
}

.mix-task {
  width: 100%;

  &__collapse-icon {
    transition: all 0.2s ease;
    &.--expand {
      transform: rotate(90deg);
    }
  }

  &__overview {
    padding: 12px;
    background-color: var(--background-color-hight-light);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__status {
    padding: 4px 8px;
    border-radius: 6px;
    color: #fff;

    &.--new {
      background-color: rgb(112, 114, 143);
    }

    &.--inprogress {
      background-color: rgb(228, 124, 64);
    }

    &.--readyForTest {
      background-color: rgb(228, 206, 64);
    }

    &.--done {
      background-color: rgb(168, 228, 64);
      color: #000;
    }
  }

  &__assignee {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 4px 8px;
    border-radius: 6px;
  }

  &__kanban-view {
    display: flex;
    gap: 12px;
    width: 100%;
    margin-top: 4px;
  }

  &__board {
    width: 350px;
    height: 150px;
    border-top-right-radius: var(--border-radius-default);
    border-bottom-right-radius: var(--border-radius-default);
    border: 1px solid var(--border-color-default);
    border-left: 3px solid var(--main-color);
    overflow: hidden;
    --main-color: #fff;

    &.--new {
      --main-color: rgb(112, 114, 143);
    }

    &.--in-progress {
      --main-color: rgb(228, 124, 64);
    }

    &.--ready-test {
      --main-color: rgb(228, 206, 64);
    }

    &.--done {
      --main-color: rgb(168, 228, 64);
    }
  }
}

.board-item {
  height: 135px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid var(--border-color-default);
  background-color: var(--background-color-primary);
  margin: 6px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;

  &__date {
    font-size: var(--text-size-xs);
    margin-top: auto;
  }
}
