<div class="mix-task">
  <div class="mix-task__overview"
       (click)="showKanbanView = !showKanbanView">
    <div class="mix-task__collapse-icon me-2"
         [ngClass]="{ '--expand': showKanbanView }">
      <span class="material-symbols-outlined"> arrow_forward_ios </span>
    </div>

    <div>#{{ task.id }} - {{ task.title }}</div>

    <div *ngIf="!showKanbanView"
         class="mix-task__status ms-2"
         [ngClass]="{
        '--new': task.taskStatus === 'New',
        '--inprogress': task.taskStatus === 'InProgress',
        '--readyForTest': task.taskStatus === 'ReadyForTest',
        '--done': task.taskStatus === 'Done'
      }">
      {{ statusDisplay[task.taskStatus] }}
    </div>

    <div class="ms-auto mix-task__assignee">
      <div>{{ task.assignee }}</div>
      <tui-avatar class="d-block ms-2"
                  [autoColor]="true"
                  [text]="task.assignee"
                  new
                  size="xxs"></tui-avatar>
    </div>

    <mix-button class="ms-2"
                type="danger"
                (click)="deleteClick($event)"
                size="s"><span class="material-symbols-outlined"> delete </span></mix-button>
  </div>

  <div *ngIf="showKanbanView"
       class="mix-task__kanban-view"
       cdkDropListGroup>
    <div class="mix-task__board --new"
         id="list-new"
         [cdkDropListConnectedTo]="[
        'list-inprogress',
        'list-readytest',
        'list-done'
      ]"
         [cdkDropListData]="listNew"
         (cdkDropListDropped)="drop($event, 'New')"
         cdkDropList>
      <div *ngFor="let item of listNew"
           class="board-item"
           [cdkDragData]="item"
           cdkDragBoundary=".mix-task__kanban-view"
           cdkDrag>
        <ng-container *ngTemplateOutlet="taskCard; context: { $implicit: '', item: item }"></ng-container>
      </div>
    </div>

    <div class="mix-task__board --in-progress"
         id="list-inprogress"
         [cdkDropListConnectedTo]="['list-new', 'list-readytest', 'list-done']"
         [cdkDropListData]="listInProgress"
         (cdkDropListDropped)="drop($event, 'InProgress')"
         cdkDropListSortingDisabled
         cdkDropList>
      <div *ngFor="let item of listInProgress"
           class="board-item"
           [cdkDragData]="item"
           cdkDragBoundary=".mix-task__kanban-view"
           cdkDrag>
        <ng-container *ngTemplateOutlet="taskCard; context: { $implicit: '', item: item }"></ng-container>
      </div>
    </div>

    <div class="mix-task__board --ready-test"
         id="list-readytest"
         [cdkDropListConnectedTo]="['list-new', 'list-inprogress', 'list-done']"
         [cdkDropListData]="listReadyTest"
         (cdkDropListDropped)="drop($event, 'ReadyForTest')"
         cdkDropList>
      <div *ngFor="let item of listReadyTest"
           class="board-item"
           [cdkDragData]="item"
           cdkDragBoundary=".mix-task__kanban-view"
           cdkDrag>
        <ng-container *ngTemplateOutlet="taskCard; context: { $implicit: '', item: item }"></ng-container>
      </div>
    </div>

    <div class="mix-task__board --done"
         id="list-done"
         [cdkDropListConnectedTo]="[
        'list-new',
        'list-inprogress',
        'list-readytest'
      ]"
         [cdkDropListData]="listDone"
         (cdkDropListDropped)="drop($event, 'Done')"
         cdkDropList>
      <div *ngFor="let item of listDone"
           class="board-item"
           [cdkDragData]="item"
           cdkDragBoundary=".mix-task__kanban-view"
           cdkDrag>
        <ng-container *ngTemplateOutlet="taskCard; context: { $implicit: '', item: item }"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #taskCard
             let-item="item">
  <div class="board-item__title">{{ item.title }}</div>

  <div class="board-item__date">
    {{ item.createdDateTime | date | relativeTimeSpan }}
  </div>
</ng-template>
