.init-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.init-page-container {
    display: flex;
    background-color: var(--tui-base-01);
    border-radius: var(--tui-radius-l);
    &__form {
        width: 500px;
        padding: 20px;
    }
    &__banner {
        padding: 20px;
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        >img {
            width: 350px;
            height: auto;
        }
    }
    &__step {
        padding-top: 50px;
    }
}

.init-progress-dialog {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    tui-progress-segmented {
        width: 100%;
    }
    &__title {
        margin-bottom: 20px;
        h4 {
            font-family: monospace;
            overflow: hidden;
            border-right: 0.15em solid orange;
            white-space: nowrap;
            margin: 0 auto;
            animation: typing 2.5s steps(30, end), blink-caret 0.5s step-end infinite;
        }
    }
    &__description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &>*:first-child {
            text-align: left;
        }
        &>*:last-child {
            text-align: right;
        }
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}