:root {
  --mix-header-height: 47px;
  --mix-sub-header-height: 47px;
  --font-family: 'Lexend Deca', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Apple Color Emoji', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --sidebar-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --sidebar-background-color: #fff;
  --mix-toolbar-background-color: #fff;
  --mix-body-background: #f5f8ff;
  --mix-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --mix-border-radius-01: 10px;
  --mix-border-radius-02: 15px;
  --mix-primary: #0f92f3;
  --mix-toolbar-color: #fff;
  --mix-side-menu-group-bg: #fff;
  --mix-tab-height: 2.5rem;
}
