.bulk-assign-metadata {
  padding: 12px;
  width: 60vw;
  height: 80vh;
  overflow: auto;

  &__header {
    position: sticky;
    top: -12px;
    padding-bottom: 12px;
    background-color: var(--background-color-primary);
    z-index: 1;
  }
}
