@import '@taiga-ui/core/styles/taiga-ui-local.less';

.ticks-labels {
  .tui-slider-ticks-labels();

  color: var(--tui-text-02);
  align-items: center;
  margin-top: 0.25rem;
}

.filter-header {
  width: 200px;
}
