<mix-content-detail-container (save)="savePost()">
  <div class="post-detail">
    <tui-tabs class="custom-tabs"
              [(activeItemIndex)]="activeTabIndex">
      <button class="custom-tabs__btn"
              [disabled]="!!(loading$ | async)"
              (click)="activeTabIndex = 0"
              tuiTab>
        <tui-svg src="tuiIconEdit"></tui-svg>
        Content
      </button>
      <button class="custom-tabs__btn"
              [disabled]="!!(loading$ | async)"
              (click)="activeTabIndex = 1"
              tuiTab>
        <tui-svg src="tuiIconChartBar"></tui-svg>
        SEO
      </button>
      <button class="custom-tabs__btn"
              [disabled]="!!(loading$ | async)"
              (click)="activeTabIndex = 2"
              tuiTab>
        <tui-svg src="tuiIconLink"></tui-svg>
        Related
      </button>
      <button class="custom-tabs__btn"
              [disabled]="!!(loading$ | async)"
              (click)="activeTabIndex = 3"
              tuiTab>
        <tui-svg src="tuiIconLink"></tui-svg>
        Parent
      </button>
      <button class="custom-tabs__btn"
              [disabled]="!!(loading$ | async)"
              (click)="activeTabIndex = 4"
              tuiTab>
        <tui-svg src="tuiIconFile"></tui-svg>
        Template
      </button>
    </tui-tabs>

    <div *ngIf="!!(loading$ | async); else mainTemplate"
         class="post-detail__main-widget">
      <mix-skeleton-loading [type]="'form'">
      </mix-skeleton-loading>
    </div>

    <ng-template #mainTemplate>
      <div *ngIf="activeTabIndex === 0"
           class="post-detail__main-widget"
           [formGroup]="form">
        <div class="mix-form__row">
          <mix-input-labeled [disabled]="!!(disabled$ | async)"
                             [label]="'Title'"
                             formControlName="title"></mix-input-labeled>
        </div>

        <div class="mix-form__row">
          <mix-input-labeled [disabled]="!!(disabled$ | async)"
                             [label]="'Excerpt'"
                             formControlName="excerpt"></mix-input-labeled>
        </div>

        <div class="mix-form__row">
          <mix-rich-text-editor [disabled]="!!(disabled$ | async)"
                                [label]="'Content'"
                                formControlName="content"></mix-rich-text-editor>
        </div>
      </div>

      <div *ngIf="activeTabIndex === 1"
           class="post-detail__main-widget"
           [formGroup]="form">
        <div class="mix-form__row">
          <mix-input-labeled [disabled]="!!(disabled$ | async)"
                             [label]="'Friendly Title'"
                             formControlName="seoTitle"></mix-input-labeled>
        </div>

        <div class="mix-form__row">
          <mix-input-labeled [disabled]="!!(disabled$ | async)"
                             [label]="'Friendly Urls'"
                             formControlName="seoName"></mix-input-labeled>
        </div>

        <div class="mix-form__row">
          <mix-input-labeled [disabled]="!!(disabled$ | async)"
                             [label]="'Meta Description'"
                             [type]="'text-area'"
                             formControlName="seoDescription"></mix-input-labeled>
        </div>

        <div class="mix-form__row">
          <mix-input-labeled [disabled]="!!(disabled$ | async)"
                             [label]="'SEO Keywords'"
                             [type]="'text-area'"
                             formControlName="seoKeywords"></mix-input-labeled>
        </div>
      </div>

      <div *ngIf="activeTabIndex === 2"
           class="post-detail__main-widget">
        <mix-post-nav-selected [parentId]="post.id"
                               [selectedPosts]="selectedPostNavs"></mix-post-nav-selected>
      </div>

      <div *ngIf="activeTabIndex === 4"
           class="post-detail__main-widget"
           [formGroup]="form">
        <label [label]="'Post template:'"
               tuiLabel>
          <tui-select [(ngModel)]="selectedTemplate"
                      [disabled]="!!(disabled$ | async)"
                      [ngModelOptions]="{standalone: true}"
                      [tuiTextfieldLabelOutside]="true"
                      [valueContent]="itemContent"
                      (ngModelChange)="postTemplateChange($event)"
                      tuiTextfieldSize="s">
            <tui-data-list-wrapper *tuiDataList
                                   [itemContent]="itemContent"
                                   [items]="availableTemplates"></tui-data-list-wrapper>
          </tui-select>
        </label>

        <ng-template #itemContent
                     let-item>
          {{ item.fileName }}
        </ng-template>

        <p style="margin-top: 5px;"> </p>
        <mix-template-editor *ngIf="selectedTemplate"
                             [disabled]="true"
                             [templateId]="selectedTemplate.id"></mix-template-editor>
      </div>
    </ng-template>
  </div>
</mix-content-detail-container>
