<div class="portal-menu-item d-flex gap-3 align-items-center"
     [formGroup]="form">
  <span class="d-flex align-items-center gap-2">
    Title:
    <editable (save)="save()">
      <ng-template viewMode>
        <span class="text-bold">{{ form.controls.title.value }}</span>
      </ng-template>

      <ng-template editMode>
        <mix-input formControlName="title"
                   style="width: 150px"
                   editableOnEnter
                   editableOnEscape>
        </mix-input></ng-template>
    </editable>
  </span>

  <span class="d-flex align-items-center gap-2">
    Path:
    <editable (save)="save()">
      <ng-template viewMode>
        <span class="text-bold">{{
          form.controls.path.value || 'Empty path'
        }}</span>
      </ng-template>

      <ng-template editMode>
        <mix-input [autoCompleteItems]="FULL_MENU"
                   formControlName="path"
                   style="width: 150px"
                   editableOnEnter
                   editableOnEscape>
        </mix-input></ng-template>
    </editable>
  </span>

  <span class="d-flex align-items-center gap-2">
    Icon:
    <editable (save)="save()">
      <ng-template viewMode>
        <span *ngIf="form.controls?.icon?.value"
              class="material-symbols-outlined text-bold">{{ form.controls.icon.value }}</span>
        <span *ngIf="!form.controls?.icon?.value">No icon found</span>
      </ng-template>

      <ng-template editMode>
        <mix-input formControlName="icon"
                   style="width: 150px"
                   editableOnEnter
                   editableOnEscape>
        </mix-input></ng-template>
    </editable>
  </span>

  <span class="d-flex align-items-center gap-2">
    Priority:
    <editable (save)="save()">
      <ng-template viewMode>
        <span class="text-bold">{{ form.controls.priority.value || 0 }}</span>
      </ng-template>

      <ng-template editMode>
        <mix-input-number type="number"
                          [step]="1"
                          formControlName="priority"
                          style="width: 150px"
                          editableOnEnter
                          editableOnEscape>
        </mix-input-number></ng-template>
    </editable>
  </span>

  <div class="d-flex gap-1 align-items-center ms-3">
    <mix-button type="danger"
                [iconBtn]="true"
                (click)="deleteMenu()"
                size="xs"><span class="material-symbols-outlined"> delete </span></mix-button>

    <mix-button *ngIf="item.portalMenuId === null"
                type="outline"
                [iconBtn]="true"
                (click)="showDialog(addNewMenuItem)"
                size="xs"><span class="material-symbols-outlined"> add </span></mix-button>
  </div>
</div>

<ng-template #addNewMenuItem
             let-observer>
  <div [formGroup]="addMenuForm">
    <div>Update Portal Menu Item:</div>

    <span class="content-label mt-3">Menu title</span>
    <mix-input formControlName="title"
               placeHolder="Menu title"></mix-input>
    <mix-form-error formControlName="title"></mix-form-error>

    <span class="content-label mt-3">Path</span>
    <mix-input [autoCompleteItems]="FULL_MENU"
               formControlName="path"
               placeHolder="Admin path url"></mix-input>

    <span class="content-label mt-3">Icon</span>
    <span class="content-sub-description">We use Google Symbol as icon, please
      <a href="https://fonts.google.com/icons"
         tuiLink
         target="_blank">visit here</a>
      to get the correct icon name</span>

    <mix-input class="mt-1"
               formControlName="icon"
               placeHolder="Icon"></mix-input>

    <div class="d-flex justify-content-end mt-3">
      <mix-button type="outline"
                  (click)="observer.complete()">Cancel</mix-button>

      <mix-button class="ms-2"
                  (click)="createMenu(observer)">Create</mix-button>
    </div>
  </div>
</ng-template>
