.app-settings-item {
  padding: 12px;
  border-radius: var(--element-rounded);
  border: 1px solid var(--border-color-default);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--background-color-secondary);
  }
}

.mix-widget {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--border-color-default);
  overflow: hidden;
  padding: var(--default-widget-padding);
  min-height: 100px;
}
