<div class="container">
  <div class="grid grid-cols-12 gap-4 justify-center">
    <div class="col-span-10 col-span-12">
      <div class="text-xxl text-bold">App Configurations</div>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-4 mt-8 justify-center">
    <div class="col-span-10 col-span-12">
      <div class="mix-widget">
        <div class="flex justify-content-between items-center mb-4">
          <div class="text-xl text-bold">Local Settings</div>

          <mix-button (click)="addNew()"><span class="material-symbols-outlined"> edit </span>&nbsp; Add
          </mix-button>
        </div>

        <div class="app-settings-item">
          <div class="grid grid-cols-12 gap-4 w-full">
            <div class="col-span-5">
              <div class="text-600">Display name</div>
            </div>

            <div class="col-span-6">
              <div class="text-600">Value</div>
            </div>

            <div class="col-span-2 flex justify-content-end">
              <div class="text-600">Action</div>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let setting of result().items ?? []">
          <div class="app-settings-item">
            <div class="grid grid-cols-12 gap-4 w-full">
              <div class="col-span-5">
                <div class="text-l text-600">{{ setting.displayName }}</div>
                <div class="text-s text-secondary">
                  {{ setting.systemName }}
                </div>
              </div>

              <div class="col-span-6">{{ setting.content }}</div>

              <div class="col-span-2 flex justify-content-end">
                <mix-button title="Edit"
                            [iconBtn]="true"
                            (click)="update(setting.id)"><span class="material-symbols-outlined"> edit </span>
                </mix-button>

                <mix-button class="ms-2"
                            title="Clear cache"
                            [iconBtn]="true"
                            [type]="'outline'"
                            (click)="clearCache(setting.id)"><span class="material-symbols-outlined"> autorenew </span>
                </mix-button>

                <mix-button class="ms-4"
                            type="danger"
                            title="Delete"
                            [iconBtn]="true"
                            (click)="delete(setting.id)"><span class="material-symbols-outlined"> delete </span>
                </mix-button>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="result() as result">
          <tui-pagination *ngIf="result.pagingData?.totalPage"
                          [index]="result.pagingData.pageIndex"
                          [length]="result.pagingData.totalPage ?? 0"></tui-pagination>
        </ng-container>
      </div>
    </div>
  </div>
</div>
