:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 5px;
}

.task-card {
  padding: 10px;
  border-radius: 0.125rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.1s;
  box-shadow: #091e4240 0 1px 2px;
  background-color: rgb(255, 255, 255);

  &:hover {
    background-color: rgb(235 236 240);
  }
}

.task-card-wrap {
  cursor: grab;
}
