@if (!dbSysName) {
<div class="mt-1 mb-2 notification --info">
  Create your db first to run some migrations
</div>
} @else {
<ng-container *ngIf="loadingState() as state">
  <div class="mb-3 mt-1">
    <mix-button [loading]="state === 'Loading'" (click)="migrateSingleTable()"
      >Migrate to single table</mix-button
    >

    <div>
      Before using a database that you have created for the first time, it must
      be migrated into a single table.
    </div>
  </div>

  <div class="mb-3">
    <mix-button [loading]="state === 'Loading'" (click)="backupSingleTable()"
      >Backup table</mix-button
    >

    <div>
      When you activate this button, the system will automatically backup your
      data in case you need it in the future.
    </div>
  </div>

  <div class="mb-3">
    <mix-button
      [type]="'danger'"
      [loading]="state === 'Loading'"
      (click)="restoreSingleTable()"
      >Restore table</mix-button
    >

    <div>
      Depending on when you last backed up the data, the system will restore it.
    </div>
  </div>

  <div class="mb-3">
    <mix-button [loading]="state === 'Loading'" (click)="updateSingleTable()"
      >Update data table</mix-button
    >

    <div>
      When you wish to make changes to your database or add new columns, run
      this migration.
    </div>
  </div>
</ng-container>
}
