.mix-db {
  &__highlight {
    font-size: var(--text-size-s);
    padding: 4px 6px;
    border-radius: 4px;
    background-color: var(--border-color-default);
    width: fit-content;

    &.--ring {
      background-color: rgb(139 92 246);
      color: #fff;
    }

    &.--green {
      background-color: rgb(34 197 94);
      color: #fff;
    }

    &.--orange {
      background-color: rgb(234 179 8);
      color: #fff;
    }
  }
}
