<div *ngIf="store.vm$ | async as state"
     class="data-table-page">
  <div class="data-table-page__main-container">
    <mix-sub-toolbar [description]="'LISTING'"
                     [title]="'All Database'">
      <div class="toolbar-separator"></div>
      <mix-button (click)="createDatabase()"
                  size="s"><span class="material-symbols-outlined"> add </span>&nbsp; Add New
        Database</mix-button>
      <div class="toolbar-separator"></div>
      <mix-button class="mr-1"
                  type="secondary-danger"
                  [disabled]="!selectedPages.length"
                  size="s">
        <span class="material-symbols-outlined"> delete </span>&nbsp; Delete
        Database(s)</mix-button>
    </mix-sub-toolbar>

    <div class="data-table-page__body">
      <mix-data-table [dataset]="state.data"
                      [loading]="state.status === 'Loading'"
                      [pageInfo]="state.pageInfo"
                      [searchFieldOptions]="['displayName']"
                      (itemsSelectedChange)="selectedPages = $event || []"
                      (pageChange)="store.changePage($event)"
                      (searchChange)="
          store.searchChange($event.searchText, $event.searchField)
        ">
        <div [columnType]="'CHECKBOX'"
             mixTableColumn></div>

        <div [header]="'Name'"
             key="displayName"
             mixTableColumn>
          <ng-template let-data
                       mixColumnCell>
            <div class="d-flex gap-2"
                 (click)="goDetail(data.id)">
              <div class="text-600">
                {{ data.displayName }}
              </div>

              <div class="text-sub text-m">
                {{ data.systemName }}
              </div>
            </div>
          </ng-template>
        </div>

        <div [header]="'Created'"
             key="createdDateTime"
             mixTableColumn>
          <ng-template let-data
                       mixColumnCell>
            <div>
              {{ data.createdDateTime | date: 'short' | relativeTimeSpan }}
            </div>
          </ng-template>
        </div>

        <div [header]="'Columns'"
             key="modifiedBy"
             mixTableColumn>
          <ng-template let-data
                       mixColumnCell>
            <div class="mix-db__column">
              {{ data.columns.length }} column(s)
            </div>
          </ng-template>
        </div>

        <div [header]="'Status'"
             key="status"
             mixTableColumn>
          <ng-template let-data
                       mixColumnCell>
            <mix-status-indicator [status]="data.status"></mix-status-indicator>
          </ng-template>
        </div>

        <div [columnType]="'ACTION'"
             [header]="''"
             [sortable]="false"
             key="action"
             mixTableColumn>
          <ng-template let-data
                       mixColumnCell>
            <mix-button type="outline"
                        (click)="goDetail(data.id)"
                        size="s"><span class="material-symbols-outlined">
                construction
              </span></mix-button>

            <mix-button class="ms-2"
                        (click)="goDatabaseData(data.systemName)"
                        size="s"><span class="material-symbols-outlined">
                database
              </span></mix-button>
          </ng-template>
        </div>
      </mix-data-table>
    </div>
  </div>
</div>
