@import '../../../styles/core/mixin.scss';

.app-sidebar {
  position: relative;
  padding: 10px 0 20px 0;
  height: 100%;
  box-sizing: border-box;
  width: 40px;
  background-color: var(--sidebar-bg-color);
  transition: width 0.5s ease-in-out, padding 0.2s ease-in-out;

  &.--expanded {
    padding: 10px 0px;
    width: 200px;
  }

  &__collapse-button {
    @include flex-all-center;
    @include main-box-shadow;
    position: absolute;
    top: 10px;
    right: -35px;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    background-color: rgb(250, 251, 252);
    cursor: pointer;
    &:hover {
      background-color: var(--sidebar-bg-active-color);
      color: black;
    }
  }

  &__header {
    overflow: hidden;
    padding-left: 8px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &--logo {
      width: 135px;
      height: 30px;
      background-color: var(--mix-logo-color);
      -webkit-mask: url(/assets/logos/mixcore-logo-green.svg) no-repeat;
      mask: url(/assets/logos/mixcore-logo-green.svg) no-repeat;
    }
  }

  &__body {
    height: 70vh;
    overflow: auto;
  }

  &__toolbar {
    padding: 0 15px 10px 15px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    overflow: hidden;
    transition: height 0.2s ease-in, padding 0.2s ease-in;

    > i {
      cursor: pointer;
      margin-right: 20px;
      &:hover {
        opacity: 0.8;
      }
    }

    &.--miniSize {
      padding: 0px;
      height: 0px;
    }
  }

  &__item {
    margin: 10px;
    transition: margin 0.2s ease-in;

    &.--miniSize {
      margin: 5px 0;
    }
  }
}
