<mix-workspace-dynamic-layout>
  <div main-workspace>
    <mix-data-table [fetchDataFn]="fetchPostFn"
                    [searchPlaceholder]="'Type your post name'">
      <div [columnType]="'CHECKBOX'"
           mixTableColumn></div>
      <div [header]="'#'"
           [width]="'70px'"
           mixTableColumn
           key="id"></div>
      <div [header]="'Post Title'"
           mixTableColumn
           key="title"></div>
      <div [header]="'Status'"
           mixTableColumn
           key="status"></div>
    </mix-data-table>
  </div>
</mix-workspace-dynamic-layout>
