@import '../../../styles/core/mixin.scss';

mix-collapse-button {
  width: 100%;
}

.collapse-button {
  overflow: hidden;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &.--miniSize {
    box-shadow: none;
  }

  & .-icon {
    min-width: 30px;
    transition: font-size 0.5s ease-in-out;

    &.--miniSize {
      font-size: 20px;
    }
  }

  &__main--title {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

    &.--miniSize {
      opacity: 0;
    }
  }

  &__main {
    @include flex-vertical-center;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;

    &:hover,
    &.--active {
      border-left: 3px solid var(--collapse-button-text-active-color);
    }
  }

  &__action {
    @include flex-vertical-center;
    width: 100%;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__collapse-action {
    @include flex-all-center;
    margin-left: auto;
    transition: transform 0.1s ease-in;

    &.-expanded {
      transform: rotate(90deg);
    }

    > i {
      font-size: 10px;
    }
  }

  &__child-container {
    transition: height 0.2s ease-in-out;
    height: 0px;
    font-size: 11px;
  }
}
