<div class="collapse-button" [ngClass]="{ '--miniSize': miniSize }">
  <div
    class="collapse-button__main"
    (click)="onCollapseClick()"
    [ngClass]="{ '--active': active }"
  >
    <i class="{{ item.icon }} -icon" [ngClass]="{ '--miniSize': miniSize }"></i>
    <span
      class="collapse-button__main--title"
      [ngClass]="{ '--miniSize': miniSize }"
      >{{ item.title }}</span
    >

    <div
      *ngIf="item.actions?.length > 1"
      class="collapse-button__collapse-action"
      [ngClass]="{ '-expanded': expanded }"
    >
      <i class="fas fa-ellipsis-v"></i>
    </div>
  </div>

  <div
    #childcontainer
    *ngIf="item.actions"
    class="collapse-button__child-container"
  >
    <div
      #action
      *ngFor="let act of item.actions"
      class="collapse-button__action"
      (click)="act.action()"
    >
      <i class="{{ act.icon }} -icon"></i>
      <span class="collapse-button__action--title">{{ act.title }}</span>
    </div>
  </div>
</div>
