@import '../../../styles/core/mixin.scss';

.universal-search {
  @include main-box-shadow;
  font-family: inherit;
  border: 1px solid rgba(1, 1, 1, 0.2);
  border-radius: 7px;
  padding: 0 5px;
  width: 400px;
  height: 30px;
  color: black;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:active,
  &:focus {
    outline: none;
  }
}

::placeholder {
  opacity: 0.9;
}
