@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
}
