@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin main-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
