:root {
  // main-logo
  --mix-logo-color: #40e0d0;

  // header
  --header-bg-color: #f0f2f5;

  // sidebar-component
  --sidebar-bg-color: #f0f2f5;
  --sidebar-text-color: #fff;
  --sidebar-bg-active-color: #40e0d0;

  // sidebar-menu-item
  --collapse-button-text-active-color: #40e0d0;
}
