.init-themes {
  &__theme-card {
    padding: 20px;
    border-radius: 20px;
    border: 0.5px dashed rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__theme-card-title {
    font-size: 14px;
  }

  &__submit {
    margin-top: 2rem;
  }
}
