.entity-table-header {
  padding: 8px 12px;
  border: 1px solid var(--border-color-default);
  border-radius: var(--border-radius-default);
  font-weight: 500;
  background-color: var(--background-color-secondary);
  position: sticky;
  top: -18px;
  z-index: 2;

  .name {
    padding-left: 24px;
  }
}
