<tui-accordion-item *ngIf="(result$ | async) as result"
                    class="folder-file"
                    [(open)]="open"
                    [borders]="null"
                    [disabled]="!!(loading$ | async)"
                    [size]="'s'">
  <div class="folder-file__folder-header">
    <div class="toggle-icon"
         [ngClass]="{'--open': open}">
      <tui-svg src="tuiIconChevronRight"></tui-svg>
    </div>
    <i-tabler class="icon"
              name="file-import"></i-tabler>
    <div class="title"> {{ folderType }} <span *ngIf="!!!(loading$ | async); else loading">({{ result.pagingData.total ?? 0 }})</span>
      <ng-template #loading>
        loading
      </ng-template>
    </div>
    <div class="separator"></div>
  </div>

  <ng-template tuiAccordionItemContent>
    <div class="folder-file__file-list">
      <div *ngFor="let item of result.items"
           class="folder-file__file">
        <div class="checkbox">
          <tui-checkbox [ngModel]="isFileSelected(item)"
                        (ngModelChange)="onFileSelect($event, item)"></tui-checkbox>
        </div>
        <div class="name"
             (click)="fileClick(item)">
          {{ item.fileName }}{{ item.extension}}
        </div>
        <div class="date-modified">
          {{ item.createdDateTime || item.lastModified | date }}
        </div>
      </div>

      <div *ngIf="editing"
           class="folder-file__file">
        <tui-input [style.width]="'250px'"
                   [formControl]="newFileName"
                   (focusedChange)="onFocusedChange($event)"
                   (keydown.enter)="onEnter()"
                   tuiAutoFocus
                   tuiTextfieldSize="m">
          Type your file name, then press enter
          <input type="text"
                 tuiTextfield>
        </tui-input>
      </div>

      <div class="folder-file__action">
        <button class="add-new"
                (click)="editing = true"
                tuiButton
                size="xs">+ New item</button>

        <button class="delete"
                type="button"
                [disabled]="selectedFiles.length <= 0"
                (click)="deleteFile()"
                tuiButton
                appearance="accent"
                size="xs">Delete</button>
      </div>
    </div>
  </ng-template>
</tui-accordion-item>
