<div class="main-toolbar">
  <div class="main-toolbar__logo">
    <img src="assets/images/mixcore-logo.svg"
         alt="logo">
  </div>

  <mix-location-controller></mix-location-controller>

  <!-- <div class="main-toolbar__breadcrumbs me-auto"> -->
  <!-- <tui-breadcrumbs>
      <ng-container *ngFor="let item of breadcrumbs">
        <a *tuiItem
           [routerLink]="item.url"
           tuiLink>
          {{ item.label }}
        </a>
      </ng-container>
    </tui-breadcrumbs> -->
  <!-- </div> -->

  <!-- <div class="main-toolbar__tag ms-auto main-toolbar__tag{{ mode }}"> {{ mode }} </div> -->

  <!-- TODO: Enable when stable -->
  <!-- <div class="main-toolbar__theme-switch">
    <button type="button"
            [size]="'s'"
            (click)="themeService.toggle()"
            tuiButton
            appearance="flat">
      <span class="material-symbols-outlined">
        {{ themeService.theme === 'light' ? 'dark_mode' : 'light_mode' }}
      </span>
    </button>
  </div> -->

  <ng-container *ngIf="auth.cultures$ | async as cultures">
    <div *ngIf="cultures?.length"
         class="main-toolbar__culture">
      <mix-button type="flat"
                  [iconBtn]="true"
                  [size]="'s'"
                  [tp]="cultureTpl"
                  tpPlacement="bottom-end"
                  tpVariation="popper">
        <span class="flag-icon {{ auth.currentCulture?.icon }}"></span>
      </mix-button>

      <ng-template #cultureTpl>
        <div *ngFor="let culture of cultures"
             class="mix-menu-item">
          <span class="main-toolbar__culture-icon flag-icon {{ culture.icon }}"></span>{{ culture.displayName }}
        </div>
      </ng-template>
    </div>
  </ng-container>

  <div class="main-toolbar__action">
    <mix-button type="flat"
                [iconBtn]="true"
                [size]="'s'"
                [tp]="userMenuTpl"
                tpPlacement="bottom-end"
                tpVariation="popper">
      <span class="material-symbols-outlined"> menu </span>
    </mix-button>

    <ng-template #userMenuTpl>
      <div class="mix-menu-item">
        {{ 'Account Information' }}
      </div>

      <div class="mix-menu-item"
           (click)="logout()">
        {{ 'Logout' }}
      </div>
    </ng-template>
  </div>
</div>
