<div class="dashboard-page">
    <mix-widget class="dashboard-page__hello">
        <p class="tui-island__category">{{ currentDay}}, {{ currentDate }}</p>
        <h2 class="mix-widget__title">Hi, Phong Cao</h2>

        <ng-container *ngIf="portalInfo$ | async as portalInfo">
            <tui-badge [status]="'success'" value="{{ portalInfo.totalPage + ' Page'}}"></tui-badge>
            <tui-badge [status]="'success'" value="{{ portalInfo.totalPost + ' Post'}}"></tui-badge>
            <tui-badge [status]="'success'" value="{{ portalInfo.totalModule + ' Module'}}"></tui-badge>
        </ng-container>
    </mix-widget>
</div>