<div class="data-table-page">
  <div class="data-table-page__main-container">
    <mix-sub-toolbar [description]="'LISTING'"
                     [title]="'All Context'">
      <div class="toolbar-separator"></div>
      <mix-button (click)="addContext()"
                  size="s"><span class="material-symbols-outlined"> add </span>&nbsp; New
        Context</mix-button>
      <div class="toolbar-separator"></div>
      <mix-button type="danger"
                  size="s">
        <span class="material-symbols-outlined"> delete </span>&nbsp;
        Remove(s)</mix-button>
    </mix-sub-toolbar>

    <div class="data-table-page__body">
      @if (store.vm$ |async; as vm) {
      <div class="p-3 d-flex gap-3 flex-wrap">
        @for (item of vm.data; track item.id) {
        <div class="context-card {{ ProviderIconMap[item.databaseProvider] }}"
             tuiCard
             tuiSurface>
          <h4 tuiTitle>
            {{ item.displayName }}
          </h4>
          <span tuiSubtitle>{{ item.databaseProvider }}</span>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
