<div class="data-table-page">
  <div class="data-table-page__main-container">
    <mix-sub-toolbar [description]="'LISTING'"
                     [title]="'All Context'">
      <div class="toolbar-separator"></div>
      <mix-button (click)="addContext()"
                  size="s"><span class="material-symbols-outlined"> add </span>&nbsp; New
        Context</mix-button>
      <div class="toolbar-separator"></div>
      <mix-button type="danger"
                  size="s">
        <span class="material-symbols-outlined"> delete </span>&nbsp;
        Remove(s)</mix-button>

      <mix-dynamic-filter class="d-block ms-auto"></mix-dynamic-filter>
    </mix-sub-toolbar>
  </div>
</div>
