.portal-cms {
  &__master-layout {
    display: flex;
    height: 100vh;
  }

  &__left-side {
    height: 100%;
  }

  &__right-side {
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;

    &--body {
      height: calc(100% - 45px);
      overflow: auto;
    }
  }
}
