<div class="dashboard">
  <div class="tui-island__category mt-6">
    {{ currentDay }}, {{ currentDate }}
  </div>
  <h1 class="bolt-header-title-l">
    {{ helloPrefix }}, {{ userName$ | async | titlecase }}
  </h1>

  <div class="text-l mt-5">Congratulations, your working progress:</div>
  <div class="chart__line mt-4">Status</div>

  <div class="dashboard-page__chart-tile mt-3">
    <div class="row chart__container">
      <div class="col-auto">
        <div class="number-chart" [style.--chart-color]="colorMap['success']">
          <div class="d-flex gap-1 align-items-end">
            <div
              class="number-chart__number"
              [countUp]="(success$ | async) || 0"
              [duration]="1000"
            ></div>
            <div class="text-s text-sub">item(s)</div>
          </div>

          <div class="number-chart__title">In Progress</div>
          <div class="number-chart__sub-title">This month</div>
        </div>
      </div>

      <div class="col-auto">
        <div class="number-chart" [style.--chart-color]="colorMap['paid']">
          <div class="d-flex gap-1 align-items-end">
            <div
              class="number-chart__number"
              [countUp]="(paid$ | async) || 0"
              [duration]="1000"
            ></div>
            <div class="text-s text-sub">item(s)</div>
          </div>

          <div class="number-chart__title">Done</div>
          <div class="number-chart__sub-title">This month</div>
        </div>
      </div>

      <div class="col-auto">
        <div class="number-chart" [style.--chart-color]="colorMap['wait']">
          <div class="d-flex gap-1 align-items-end">
            <div
              class="number-chart__number"
              [countUp]="(waitToPay$ | async) || 0"
              [duration]="1000"
            ></div>
            <div class="text-s text-sub">item(s)</div>
          </div>

          <div class="number-chart__title">Bug(s)</div>
          <div class="number-chart__sub-title">This month</div>
        </div>
      </div>

      <div class="col-auto">
        <div class="number-chart" [style.--chart-color]="colorMap['shipping']">
          <div class="d-flex gap-1 align-items-end">
            <div
              class="number-chart__number"
              [countUp]="(shipping$ | async) || 0"
              [duration]="1000"
            ></div>
            <div class="text-s text-sub">item(s)</div>
          </div>

          <div class="number-chart__title">In Testing</div>
          <div class="number-chart__sub-title">This month</div>
        </div>
      </div>
    </div>
  </div>
</div>
