.status-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: var(--text-color-primary);

  &__dot {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
  }
}
