.mix-main-layout {
  display: flex;
  height: 100%;
  background: rgb(255 255 255 / 25%);

  &__progress {
    top: 0;
    width: 100%;
    position: absolute;
  }

  &__side-menu {
    height: 100%;
  }

  &__flex {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;

    &.--column {
      flex-direction: column;
    }

    &.--row {
      flex-direction: row;
    }
  }

  &__workspace {
    height: calc(100% - var(--main-layout-gap));
    flex-grow: 1;
    margin: var(--main-layout-gap);
    margin-top: 0px;
    margin-right: unset;
    z-index: 1;
    overflow: auto;
  }

  &__explorer {
    height: calc(100% - 18px);
    border-radius: 12px;
    margin: var(--main-layout-gap);
    margin-left: unset;
    margin-top: unset;
  }

  &__main-workspace {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    height: 100%;
    position: relative;
  }
}
