.config-form,
.config-form-widget {
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--border-color-default);
  overflow: hidden;
}
