.permission-form {
  display: flex;
  flex-direction: column;

  &__title {
    width: 300px;
  }

  &__body {
    margin-top: 24px;
    flex-grow: 1;
    overflow: auto;
    padding: var(--container-padding);
  }

  &__main-table {
    --container-padding: 0px;

    border-radius: 8px;
    border: 1px solid var(--border-color-default);
    padding: 4px 8px;
  }

  .sub-toolbar {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
}

.add-permission-container {
  width: 600px;
  padding: 12px 12px 18px 12px;
}
