tui-dropdown-host {
  z-index: unset !important;
}

tui-dialog-host {
  z-index: 9999;
}

tui-dropdown {
  z-index: 10000 !important;
}

ngneat-dialog {
  .ngneat-dialog-backdrop {
    .ngneat-dialog-content {
      padding: 18px;
      animation: dialog-open 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
    }

    animation: dialog-open-backdrop 0.2s !important;
  }
}

.mix-dialog {
  &__header {
    font-size: 18px;
    margin-bottom: 4px;
  }

  &__content {
    margin: 24px 0px;
  }

  &__footer {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
  }
}
