.main-app {
  width: 100%;
  height: 100%;
  background: #ece9e6;
  background: -webkit-linear-gradient(to left, #ffffff, #ece9e6);
  background: linear-gradient(to left, #ffffff, #ece9e6);
}

.app-backdrop {
  width: 100%;
  height: 100%;
}
