<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">

      <h2>Welcome back, {{currentUser.fullName}}!</h2>

    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="100%" class="text-center no-records animate">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
        </div>
      </div>
      <mat-icon> </mat-icon>
    </div>
  </div>
</div>