.dashboard {
  height: 100%;
  padding: var(--container-padding);
  background-color: var(--background-color-primary);
  // border-radius: var(--border-radius-default);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid var(--border-color-default);
  overflow: hidden;
}

.chart {
  &__container {
    --bs-gutter-x: 16px;
    --bs-gutter-y: 16px;
  }

  &__line {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    font-size: var(--text-size-xl);

    &::after {
      flex-grow: 1;
      height: 1px;
      border-bottom: 2px dashed var(--border-color-default);
      display: block;
      content: '';
    }
  }
}

.number-chart {
  width: 300px;
  height: 150px;
  background-color: var(--background-color-secondary);
  border-radius: 4px;
  padding: 24px;
  border: 1px solid var(--border-color-default);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: auto;
    font-size: var(--text-size-xl);
  }

  &__sub-title {
    font-size: var(--text-size-s);
    color: var(--text-02);
  }

  &__number {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
  }

  &::after {
    display: block;
    width: 100%;
    height: 8px;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
    background-color: var(--chart-color, red);
  }
}
