<div class="card-01-wrap" [class.--new]="value.new" [formGroup]="form">
  <div class="card-01">
    <div class="row">
      <div class="col-4 d-flex align-items-center gap-2">
        <span class="mix-icon cursor-grab">drag_indicator</span>

        <mix-input
          placeHolder="Display name"
          formControlName="displayName"
        ></mix-input>
      </div>

      <div class="col-4">
        <mix-select
          class="w-100"
          [items]="allDatabaseIds"
          [labelProcess]="labelProcess"
          placeHolder="Choose database"
          formControlName="parentId"
        ></mix-select>
      </div>

      <div class="col-4 align-items-center d-flex">
        <span class="text-500"> One to Many </span>
      </div>
    </div>

    <div class="card-01__action">
      <mix-button type="danger" [iconBtn]="true" size="s"
        ><span class="mix-icon"> delete </span></mix-button
      >
    </div>
  </div>
</div>
