<div class="init-page">
  <div class="init-page-container">
    <div class="init-page-container__banner">
      <img class="image"
           src="/assets/images/init-banner-01.jpg">

      <div class="quotes">
        "From simple to complex kits, we've got you covered in all areas regarding web/mobile development." - MixCore
      </div>
    </div>

    <div class="init-page-container__form">
      <ng-container *ngIf="step === 0">
        <init-site-information (siteSubmit)="siteSubmit($event)"></init-site-information>
      </ng-container>

      <ng-container *ngIf="step === 1">
        <init-account-information [loading]="loading"
                                  (accountSubmit)="accountSubmit($event)"></init-account-information>
      </ng-container>

      <ng-container *ngIf="step === 2">
        <mix-init-themes [loading]="loading"
                         (themeSubmit)="themeSubmit($event)"></mix-init-themes>
      </ng-container>
    </div>

    <div class="init-page-container__step">
      <tui-stepper [(activeItemIndex)]="step"
                   [orientation]="'vertical'">
        <button tuiStep
                disabled></button>
        <button tuiStep
                disabled></button>
        <button tuiStep
                disabled></button>
      </tui-stepper>
    </div>
  </div>
</div>

<ng-template [(tuiDialog)]="showProgress"
             [tuiDialogOptions]="$any({ closeable: false, dismissible: false })"
             let-observer>
  <div class="init-progress-dialog">
    <div class="init-progress-dialog__title">
      <h4>Please wait while we install your site</h4>
    </div>

    <progress [max]="100"
              [value]="initProgress"
              tuiProgressBar></progress>
    <div class="init-progress-dialog__description tui-space_top-2">
      <label tuiLabel
             label="Init tenant">
        Init tenant
      </label>
      <label tuiLabel
             label="Install theme">
        {{ themeData ? themeData.title : 'Blank theme' }}
        <span *ngIf="(initApplicationStep === 1 || initApplicationStep === 2) && themeData">
          {{ downloadProgress }}%
        </span>
      </label>
    </div>
  </div>
</ng-template>
