<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div *ngIf="store.vm$ | async as vm"
     class="database-select">
  <mix-button class="database-select__add-btn"
              [class.--disable]="isCreate"
              [type]="isCreate ? 'secondary' : 'outline'"
              (click)="createDb()">
    <span class="mix-icon">add</span>&nbsp;
    {{ isCreate ? 'Creating' : 'New Table' }}
  </mix-button>

  <mix-input class="database-select__search"
             [formControl]="searchText"
             [placeHolder]="'Search table'"
             [searchIcon]="true"></mix-input>

  <div class="database-select__title">{{ prefix }} Tables ({{ vm.data.length || '0' }})</div>

  <div class="database-select__list">
    <ng-container *ngFor="let table of (searchText.value | filter:vm.data)">
      <div class="database-select__item"
           [class.--active]="selectedItemId == table.id"
           (click)="selectDb(table)">
        <!-- <span class="mix-icon">database</span> -->
        <span>{{ table.displayName }}</span>
      </div>
    </ng-container>
  </div>
</div>
