# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: build

on:
  push:
    branches:
      - master

jobs:
  stable:
    name: Build master branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and sub-modules
        uses: actions/checkout@v2
        with:
          submodules: recursive
          token: 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

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            **\node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install yarn dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Lint all projects
        run: yarn lint:all

      - name: Build all projects
        run: yarn build:all --prod

      - name: Build single-spa projects
        run: yarn build:single-spa:all --prod

      - name: Test all projects
        run: yarn test:all
